<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>List View</title>

    <!--JQuery -->
    <script src="assets/js/lib/jquery-3.3.1.min.js"></script>

    <!--UnderScore JS-->
    <script src="assets/js/lib/underscore-min.js"></script>

    <!--Backbone JS -->
    <script src="assets/js/lib/backbone-min.js"></script>

    <!--Jquery Cookie lirary-->
    <script src="assets/js/lib/jquery.cookie.js"></script>

    <!--Jquery Toaster-->
    <script src="assets/js/lib/jquery.toaster.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!--Config-->
    <script src="assets/js/config.js"></script>



</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Wish List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button style="display:none" id="log-out-btn" class="btn btn-outline-primary my-2 my-sm-0">Logout</button>
                </li>
            </ul>
        </div>
    </nav>

    <div id="content">

    </div>

    <div class="item-operation-modal">
        <!--Renders the add,update and delete modals here-->
    </div>
</body>

<!--Templates-->

<script type="text/template" id="login-template">
    <div class="container" id="signin-container">
        <form class="form-signin mx-auto  needs-validation" id="sign-in-form" style="width:20rem;margin-top:10rem;" novalidate>
            <h2 class="form-signin-heading text-center">Sign In</h2>
            <label for="inputEmail" class="sr-only">User name :</label>
            <input type="text" id="input-username" name="username" class="form-control" placeholder="Username" required autofocus>
            <div class="invalid-feedback">
                Please enter username!
            </div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="input-password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required>
            <div class="invalid-feedback">
                Please enter password!
            </div>
            <button class="btn btn-lg btn-primary btn-block mt-4" id="login-btn">Sign in</button>
            <small class="mt-1"><a class="" href="#register">Not a user? Register Now!</a></small>
        </form>
    </div>
</script>


<script type="text/template" id="register-template">
    <div class="container">
        <form class="form-signin mx-auto  needs-validation" id="sign-in-form" style="width:20rem;margin-top:10rem;" novalidate>
            <h2 class="form-signin-heading text-center">Sign Up</h2>

            <label for="input-username" class="sr-only">Pick a username :</label>
            <input type="text" id="input-username" name="username" class="form-control" placeholder="Username" required autofocus>
            <div class="invalid-feedback username-feedback">
                Please enter a username!
            </div>

            <label for="inputEmail" class="sr-only">Enter your name :</label>
            <input type="text" id="input-name" name="username" class="form-control mt-2" placeholder="Name" required autofocus>
            <div class="invalid-feedback username-feedback">
                Please enter your name!
            </div>

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="input-password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required>
            <div class="invalid-feedback">
                Please enter a password!
            </div>

            <label for="inputPassword" class="sr-only">Confirm password</label>
            <input type="password" id="input-confirm-password" name="password" id="input-confirm-password" class="form-control mt-2" placeholder="Confirm Password" required>
            <div class="invalid-feedback confirm-pw-feedback">
                Please confirm password!
            </div>

            <label for="listname" class="sr-only">List name :</label>
            <input type="text" id="input-list-name" name="listname" class="form-control mt-2" placeholder="List Name" required autofocus>
            <div class="invalid-feedback">
                Please enter a list name!
            </div>

            <label for="listname" class="sr-only">List description :</label>
            <textarea id="input-list-description" class="form-control mt-2" placeholder="List Description" required autofocus></textarea>
            <div class="invalid-feedback">
                Please enter a list description!
            </div>


            <button class="btn btn-lg btn-primary btn-block mt-4" id="register-btn">Sign Up</button>
            <small class="mt-1"><a class="" href="#register">Already registered? Login Now!</a></small>
        </form>
    </div>
</script>



<script type="text/template" id="main-template">
    <div class="list-details-container"></div>
    <div class="container-fluid wish-list">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" id="item-add-modal-btn" data-toggle="modal" data-target="#itemModal">
            Add Item
        </button>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">URL</th>
                    <th scope="col">Price</th>
                    <th scope="col">Priority</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="items-list">
            </tbody>
        </table>
    </div>
</script>

<script type="text/template" id="list-details-template">
    <div class="jumbotron jumbotron-fluid">
        <button type="button" class="btn btn-outline-danger mt-1 mr-1 float-right" id="logout-btn">Logout</button>
        <div class="container-fluid">
            <h1 class="display-4">
                <%= name %>
            </h1>
            <p class="lead">
                <%= description %>.</p>
        </div>
    </div>
</script>

<script type="text/template" id="item-template">
    <td>
        <span class="title">
            <%= title %>
        </span>
    </td>
    <td>
        <span class="url">
            <%= url %>
        </span>
    </td>
    <td>
        <span class="price">
            <%= price %>
        </span>
    </td>
    <td>
        <span class="priority">
            <%= priority %>
        </span>
    </td>
    <td>
        <button class="btn btn-primary" id="update-item-trigger-btn">Edit</button>
        <button class="btn btn-danger" id="delete-item-trigger-btn">Delete</button>
    </td>
</script>

<script type="text/template" id="item-operation-template">
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalLabel">Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input class="form-control" id="input-title" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label for="inputURL">URL</label>
                        <input class="form-control" id="input-url" placeholder="Enter URL">
                    </div>
                    <div class="form-group">
                        <label for="inputPrice">Price</label>
                        <input class="form-control" id="input-price" placeholder="Enter Price">
                    </div>
                    <div class="form-group">
                        <label for="inputPriority">Priority</label>
                        <select class="form-control" id="input-priority">
                            <option>High</option>
                            <option selected>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save-item-btn" class="btn btn-primary">Save</button>
                <button id="update-item-btn" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="item-delete-template">
<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <span id="delete-modal-description">
                        Are you sure you want to delete
                        <span style="font-weight: bold">
                            <%= title %></span>
                        ?
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="delete-item-btn" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
</script>


<!--Backbone app files-->
<script src="assets/js/user_admission.js"></script>
<script src="assets/js/list.js"></script>
<script src="assets/js/app.js"></script>



</html>